BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
UseTab: Never
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BitfieldColonSpace: Both
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: true
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
